body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container { padding-top: 21px; }

.ResultsContainer { 
	margin-top: 42px; 
	background: #c0e9f1;
	padding: 1px 9px;
}
.MatchupResults {
	font-size: 1.5em;
	width: 100%;
}
	.MatchupResults td, .MatchupResults th {
		padding: 6px;
	}
		.MatchupResults tr:nth-child(odd) {
			background: white;
		}
		
		
.HeroPicker {
	margin-bottom: 6px;
}
	.HeroPicker img.HeroPickerImage {
		max-height: 51px;
	}